body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
  
html {
    height: -webkit-fill-available;
}
  
main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
  
.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
  
.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}
  
.dropdown-toggle { outline: 0; }
  
.nav-flush .nav-link {
    border-radius: 0;
}
  
.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}
  
.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
  
.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
  
.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}
  
.scrollarea {
    overflow-y: auto;
}
  
.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.dropdown {
    padding: 11px;
}





.sidebar-header-text {
    font-size: small;
    letter-spacing: 2px;
    color: #777;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar .nav-link {
    color: #777;
    cursor: default;
}

.sidebar .nav-link:hover {
    color: #fff;
}

.sidebar hr {
    color: #fff;
}

.sidebar .nav-link.active {
    color: #fff;
    border-left: 3px solid #1cb854;
}

.normalAlignement {
    align-self: flex-start;
}

.card {
    background-color: #212326!important;
    width: 250px!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}

.card .header {
    color:#fff!important;
}

.card .meta {
    color:#999!important;
    overflow: hidden;
    max-height: 65px;
    text-overflow: ellipsis;
}

.card .extra.content {
    align-self: center;
}

.card .btn {
    font-size: 20px;
    color:#fff!important;
}

.searchBar {
    padding: 15px;
}

.searchBar ::placeholder {
    color: #778692!important;
}

.player {
    width: calc(100% - 280px);
    margin-left: 280px;
    height: 100px;
    background-color: #343a40;
    align-self: flex-end;
}

.player-image {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.player-titre {
    cursor: pointer;
}

.player-titre:hover {
    text-decoration: underline;
    text-underline-position: under
}

.player-artiste {
    color: #999;
    cursor: pointer;
}

.player-artiste:hover {
    color: #fff;
    text-decoration: underline;
}

.player-time {
    color:#bbb;
    font-size: 11px;
}

.player-song-icons {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.player-usable-icon {
    color: #bbb;
}

.player-usable-icon:hover {
    color: #fff;
}

.player-play-icon {
    font-size: 30px;
}

.progress {
    background-color: #212529;
    height: 5px;
    margin: auto;
    padding: 0px;
}

.login-page {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.music-page {
    width: calc(100% - 280px);
    height: calc(100% - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}

.music-page-section {
    padding: 15px;
    overflow-x: auto;
}

.row.row-cols-2 {
    padding: 20px;
}

.music-page-section .ui.cards {
    flex-wrap: nowrap;
    display:inline-flex;
}

.music-page-section .title {
    font-size: large;
    font-weight: 700;
}

.music-page-section .description {
    color: #bbb;
}

/* width */
.music-page::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.music-page::-webkit-scrollbar-track {
    background: #212529;
}

/* Handle */
.music-page::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 0px;
}

/* Handle on hover */
.music-page::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* width */
.music-page-section::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.music-page-section::-webkit-scrollbar-track {
    background: #212529;
}

/* Handle */
.music-page-section::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
.music-page-section::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.login-form {
    margin-top: 250px;
}

.login-logo {
    text-align: center;
    font-size: 40px!important;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 15px;
}

.login-input {
    height: 50px;
}

.login-form-label {
    font-weight: 700;
    text-align: left!important;
}

.divBtn {
    text-align: center!important;
}

button.green-button {
    height: 35px;
    
    background-color: #1cb854;
    border-radius: 50px;

    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

button.green-button-big {
    height: 50px;
    
    background-color: #1cb854;
    border-radius: 50px;

    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
    color: black;
}

button.cancel-btn {
    height: 50px;
    
    background-color: #0b0c0e;
    border-radius: 50px;
    border-color: #fff;

    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
button.cancel-btn:hover {
    color: #fff;
}

input[type='range'] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: #212529;
    border-radius: 15px;
    margin-top: -2px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    color: #bbb;
}

input[type='range']::-webkit-slider-thumb {
    width: 5px;
    -webkit-appearance: none;
    height: 10px;
    background: #1cb854;
    box-shadow: -700px 0 0 700px #889599;
}

.player-range {
    vertical-align: middle!important;
}

.player-sound {
    margin-top: 30px;
}

.creaPlaylist-txtarea {
    resize: none;
}

.noSection {
    padding: 15px;
}

.card.artiste {
    text-align: center;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    border-top-left-radius: 125px!important;
    border-top-right-radius: 125px!important;
}

.card.artiste .image img {
    border-radius: 500px!important;
}

.table {
    color: #fff;
    border-collapse: separate;
    padding: 0px;
}

table tr, th, td {
    border-bottom-width: 1px;
    border-bottom-color: #555;
}

table td {
    vertical-align: text-top;
}

h1 {
    font-size: 40px;
}

.playlist-logo {
    height: 250px;
    width: 250px;
}

.album-logo-small {
    height: 150px;
    width: 150px;
    padding: 0;
    margin-left: 15px;
}

.album-like {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.album-section {
    padding-top: 15px;
    padding-bottom: 15px;
}

.playlist-titre {
    font-weight: bold;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.playlist-description {
    color: #bbb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.playlist-details {
    color: #bbb;
}

.playlist-createur {
    display: inline-block;
    color: #fff;
}

.playlist-createur:hover {
    text-decoration: underline;
    cursor: pointer;
}

.modal-content {
    background-color: #212529;
    color: #fff;
}